.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */
.text-center {
  text-align: center;
}

.secendory-bg {
  background-color: rgb(255, 248, 243);
}

.text-primary {
  color: #fd6e0a;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: #181818;
}

.section-description {
  font-size: 15px;
  color: #757575;
}

.dark-1 {
  color: #181818;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  font-size: 20px;
  font-family: "Open Sans", serif;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border-style: none;
}

/* header style */
.header {
  background-color: rgb(255, 248, 243);
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
}

/* nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 120px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
}

/* banner styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 0px 120px;
}

.banner-content {
  max-width: 550px;
}

.banner-greetings {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: -20px;
}

.banner-title {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: -5px;
}

.banner-description {
  font-size: 15px;
  font-weight: regular;
}

.banner-profile {
  width: 400px;
}

/* main styles */
main {
  max-width: 1000px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* about section */
.about {
  border-radius: 10px;
  padding: 120px 140px;
  text-align: center;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.about-container {
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.item-description {
  font-weight: 700;
}

/* SKill section */
.skills-container {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 20px;
}

.skill {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill:hover {
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.7);
}

/* Resume section */

.section-header {
  padding: 0px 120px;
  margin-bottom: 40px;
}

.resume-container {
  display: flex;
  gap: 20px;
}

.experince-title,
.resume-column-title {
  color: #474747;
}

.experince-sub-title {
  color: #757575;
  margin-top: -10px;
}

.experince-description {
  font-size: 13px;
  color: #757575;
  padding: 0px 60px 0px 0px;
}

.btn{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

